<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hustxq.hust.dao.EmployDao">
    <resultMap id="BaseResultMap" type="cn.hustxq.hust.bean.EmployInfo">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="pos" property="pos" />
        <result column="note" property="note" />
        <result column="time" property="time"/>
    </resultMap>
    <select id="total" resultType="java.lang.Integer">
        SELECT count(*)
        FROM employ
    </select>
    <select id="feedlist" resultMap="BaseResultMap">
        SELECT *
        FROM employ
        ORDER BY TIME DESC limit #{start},#{offset}
    </select>

    <select id="freshEmploy" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT *
        FROM employ
        WHERE TIME > #{time}
        ORDER BY TIME DESC
    </select>
    <select id="employInfoById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT note
        FROM employ
        WHERE id = #{id}
    </select>
    <insert id="submit" parameterType="java.util.Map"
    useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        employ(name,pos,note,time)
        VALUES (#{name},#{pos},#{note},NOW())
    </insert>

</mapper>